.chat
{
    list-style: none;
    margin: 0;
    padding: 0;
}

.chat li
{
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px dotted #B3A9A9;
}

/*
.chat li.left .chat-body
{
    margin-left: 60px;
}

.chat li.right .chat-body
{
    margin-right: 60px;
}
*/

.chat li .chat-body p
{
    margin: 0;
    color: #777777;
}

.panel .glyphicon, .chat .glyphicon
{   
    margin-right: 5px;
}

.panel.panel-ilk
{
    border-color: black;
}

.panel-body
{
    overflow-y: scroll;
    height: 400px;
}

::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

::-webkit-scrollbar
{
    width: 12px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #555;
}

.form-control.input-sm.nickname
{
    margin-bottom: 5px;
}

.btn.btn-warning.btn-sm.send
{
    margin-left: 10px;
}


/*body{
	background: #f1e7e7;
}*/

.audio-player-cont{
	width: 390px;
	height: 135px;
	background: #f3ebdc;
	box-shadow: 0 0 6px 2px #c7a8a8;
	color: #003ba9;
	font-family: verdana;
	font-size: 12px;

	top:50%;
	left:50%;
	/*transform: translateX(-50%) translateY(-50%);*/
	/*position: absolute;*/
}

.logo{
	float:left;
}

.player{
	/*float:right;*/
}

.song-title{
	/*width: 50px;*/
	padding: 5px 0px 5px 0px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.song-slider{
	width: 50px;
}

.currentTime{
	margin-left: 10px;
}

.controllers{
	/*clear: both;*/
	display: table;
	margin-top: 15px;
}

.controllers *{
	vertical-align: middle;
	margin-right: 2px;
}

.volume-slider{
	width: 90px;
	margin-left:5px;
}

.toggle {
	margin-right: 10px;
}

.meta {
	margin-top: 20px;
	font-size: 10px;	
}